
.header-is-active {
    background-color: rgb(161, 211, 211);
    color: rgb(216, 18, 18);
    font-weight: 800;
}

.header-title {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

@media only screen and (min-width: 800px) {
    .header-title {
        text-align: center;
    }
}