
<!-- <input [(ngModel)]="projects" ng-reflect-model="[projects]"> -->

<div class="card card-empty" *ngIf="projects.length === 0 || !projects">
    <p>No result for your search</p>
</div>

<article
    *ngFor="let project of projects | projectFilter : tagFilter"
    [class.hidden]="categoryFilter && project.category?.id != categoryFilter.id"
>
    <div class="card">
    <div>
        <h3 style="margin-bottom: 1.5rem"> {{ project.title | uppercase }} </h3>
        <p> {{ project.excerpt }} </p>
    </div>
    
    <div style="margin-top: 1.5rem;">
        <p>
        <b>Category: </b> 
        <span *ngIf="project.category" (click)="setCategoryFilter(project.category)" class="mouse-pointer"> 
            {{ project.category.name }} 
        </span> 
        </p>
        <span><b>Tags: </b>
        <span *ngFor="let tag of project.tags">
            <span *ngIf="tag" (click)="setTagFilter(tag)" class="mouse-pointer">
            {{ tag.name }}
            </span>
        </span>
        </span>
    </div>
    </div>
</article>