<div class="content">
    <ng-container *ngIf="!selectedProject">

        <!-- sidebar for thin screens < 800px -->
        <div class="sideBar-thin-screen">
            <div class="sideBar-box">
                <div *ngIf="categoryFilter || tagFilter" class="sideBar-thin-screen">
                    <h2>Filter: </h2>
                    <div *ngIf="categoryFilter && tagFilter">
                        <p *ngIf="categoryFilter" 
                            class="item-to-delete mouse-pointer"
                            routerLink="/projects/clear-filters"
                        >
                            Clear Filters
                            <i class="fas fa-eye-slash"></i>
                    </div>
                    <p *ngIf="categoryFilter" class="item-to-delete mouse-pointer" (click)="deleteCategoryFilters()">
                    {{ categoryFilter.name }}
                    <i class="glyphicon glyphicon-trash"></i>
                    </p>
                    <p *ngIf="tagFilter" class="item-to-delete mouse-pointer" (click)="deleteTagFilters()">
                    {{ tagFilter.name }}
                    <i class="glyphicon glyphicon-trash"></i>
                    </p>
                </div>
        
                <app-categories
                    [categoryFilter]="categoryFilter"
                    (newCategoryFilterEvent)="setCategoryFilter($event)"
                ></app-categories>
        
                <app-tags
                    [tagFilter]="tagFilter"
                    (newTagFilterEvent)="setTagFilter($event)"
                ></app-tags>
    
            </div>
        </div>
        
        <div class="projects-container">
            <!-- need undesrtand pipe tagFilter..... -->
            <!-- <div 
                *ngIf="projects.length === 0 || !projects"
                class="card card-empty" 
            >
                <p>No result for your search</p>
            </div> -->
            <article
                *ngFor="let project of projects | projectFilter : tagFilter"
                [class.hidden]="categoryFilter && project.category?.id != categoryFilter.id"
                class="card"
            >
                <section routerLink="/projects/{{project.id}}" class="projects-clicable">
                    
                    <div class="projects-title-container">
                        <img [src]="'assets/images/projects-logo-default.png'" class="projects-logo" alt="Projects logo" />
                        <h3 class="card-title"> {{ project.title | uppercase }} </h3>
                    </div>
                    <p> {{ project.excerpt }} </p>
                </section>
            
                <div style="margin-top: 1.5rem;">
                    <p>
                    <b>Category: </b> 
                    <span *ngIf="project.category" (click)="setCategoryFilter(project.category)" class="card-items"> 
                        {{ project.category.name }} 
                    </span> 
                    </p>
                    <span><b>Tags: </b>
                        <span *ngFor="let tag of project.tags">
                            <span *ngIf="tag" (click)="setTagFilter(tag)" class="card-items">
                            {{ tag.name }}
                            </span>
                        </span>
                    </span>
                </div>
            </article>
        </div>

        <!-- sidebar for large screens > 800px -->
        <div class="sideBar">
            <div class="sideBar-box">
            <div *ngIf="categoryFilter || tagFilter">
                <h2>Filter: </h2>
                <div *ngIf="categoryFilter && tagFilter">
                    <p *ngIf="categoryFilter" 
                        class="item-to-delete mouse-pointer"
                        routerLink="/projects/clear-filters"
                    >
                        Clear Filters
                        <!-- <i class="fas fa-ban"></i> -->
                        <i class="fas fa-eye-slash"></i>
                </div>
                <p *ngIf="categoryFilter" class="item-to-delete mouse-pointer" (click)="deleteCategoryFilters()">
                {{ categoryFilter.name }}
                <i class="glyphicon glyphicon-trash"></i>
                </p>
                <p *ngIf="tagFilter" class="item-to-delete mouse-pointer" (click)="deleteTagFilters()">
                {{ tagFilter.name }}
                <i class="glyphicon glyphicon-trash"></i>
                </p>
            </div>
    
            <app-categories
                [categoryFilter]="categoryFilter"
                (newCategoryFilterEvent)="setCategoryFilter($event)"
            ></app-categories>
    
            <app-tags
                [tagFilter]="tagFilter"
                (newTagFilterEvent)="setTagFilter($event)"
            ></app-tags>
    
            </div>
        </div>

    </ng-container>

    <section *ngIf="selectedProject">
        <div (click)="clearSelectedProject()">Back</div>
        <app-project-detail [project]="selectedProject"></app-project-detail>
        <!-- if line above, it will pass project down to app-project-detail component (project-detail.component.ts) -->
        <!-- <app-project-detail></app-project-detail> -->
    </section>

</div>