.content {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    /* background-color: aqua; */
}

.projects-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.projects-logo {
    width: 150px;
    max-width: 20%;
}

.projects-clicable:hover {
    cursor: pointer;
    color: blue;
}

.sideBar {
    display: none;
}

@media only screen and (min-width: 800px) {
    .content {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .sideBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0;
      }

    /* .sideBar-thin-screen {
        display: none;
    } */

    
}