
<div class="project-detail-container">
    <div>
        <button 
            (click)="goBack()"
            class="project-detail-button"
        >Back</button>
    </div>
    
    <article *ngIf="project" class="project-card-detail">
        <section>
            <h2>{{ project.title | uppercase }}</h2>
            <div class="project-detail-card-image">
                <img [src]="'assets/images/project-img-default.png'" alt="Project Image" />
            </div>
            <div [innerHtml]="project.body" class="project-description"></div>
        </section>
    
        <div>
            <div *ngIf="project.category">
                <b>Category: </b>
                <span 
                    class="card-items"
                    routerLink="/projects/categories/{{project.category.id}}"
                >{{ project.category.name }}</span>
            </div>
            <div *ngIf="project.tags?.length">
                <b>Tags:</b>
                <span 
                    class="card-items" 
                    *ngFor="let tag of project.tags"
                >
                    <span
                        routerLink="/projects/tags/{{tag.id}}"
                    >
                        {{ tag.name }}
                    </span>
                </span>
            </div>
        </div>
    </article>
</div>