
<div class="main-container">

  <app-header
    (newReloadPage)="reloadPage()"
    mainTitle = "Here are the Projects"
  />
  
  <div class="content" role="main">
    
    <div class="sideBar">
      <div class="sideBar-box">
        <div *ngIf="categoryFilter || tagFilter">
          <h2>Filter: </h2>
          <p *ngIf="categoryFilter" class="item-to-delete mouse-pointer" (click)="deleteCategoryFilters()">
            {{ categoryFilter.name }}
            <i class="glyphicon glyphicon-trash"></i>
          </p>
          <p *ngIf="tagFilter" class="item-to-delete mouse-pointer" (click)="deleteTagFilters()">
            {{ tagFilter.name }}
            <i class="glyphicon glyphicon-trash"></i>
          </p>
        </div>

        <app-categories
          [categoryFilter]="categoryFilter"
          (newCategoryFilterEvent)="setCategoryFilter($event)"
        ></app-categories>

        <app-tags
          [tagFilter]="tagFilter"
          (newTagFilterEvent)="setTagFilter($event)"
        ></app-tags>

      </div>
    </div>
  
    <app-projects
      class="projects-container"
      [categoryFilter]="categoryFilter"
      (newCategoryFilterEvent)="setCategoryFilter($event)"
      [tagFilter]="tagFilter"
      (newTagFilterEvent)="setTagFilter($event)"
    ></app-projects>

  </div>


  <!-- Footer -->
  <footer>
    <h4>Tony Kieling &copy; - 2023</h4>
  </footer>
</div>

